PORT=3030
MONGO_URI=mongodb+srv://pacoandres03_db_user:admin@blueteam.biz5ysx.mongodb.net/VOICE-CHAT?retryWrites=true&w=majority
JWT_SECRET=ARSW_SECRET_OSCAR_JUAN_SANTIAGO_GAME
FRONTEND_ORIGIN=https://lamentaciones-frontend.vercel.app
